.form {
  margin: 30px 100px;
}

.form input {
  width: 300px;
  display: block;
  font-size: 16px;
  color: #333;
  padding: 6px;
  margin: 10px 0;
}

.button {
  width: 300px;
  font-size: 16px;
  color: #333;
  padding: 6px;
  margin: 10px 0;
}

.error {
  color: red;
}
